* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 10px; }

body {
  width: 100%;
  background-color: white; }

.rounded-circle {
  border: 0.8rem solid rgba(46, 202, 116, 0.692);
  border-radius: 50%;
  transform: scale(0.6);
  opacity: .7;
  transition: all .5s ease; }
  .rounded-circle:hover {
    transform: scale(0.7);
    opacity: 1; }

.zoom_container {
  position: relative;
  overflow: hidden; }
  .zoom_container .zoom_img {
    transition: all .6s ease;
    max-width: 100%;
    transform: scale(1.1);
    opacity: .6; }
    .zoom_container .zoom_img:hover {
      transform: scale(1.2);
      opacity: 1; }

.btn {
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  padding: .8rem;
  border: .16rem solid white;
  border-radius: 1.3em;
  font-weight: bold;
  transition: all .5s ease; }
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.301);
    color: #2ECA74; }

header {
  background-image: url("../img/head.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 90rem;
  width: 100%;
  position: relative; }
  header nav {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.281); }
    header nav a.navbar-brand {
      color: white;
      font-size: 2rem;
      color: #DC4C65;
      font-weight: bold; }
    header nav .navbar-collapse .navbar-nav a.nav-item {
      color: rgba(255, 255, 255, 0.637);
      text-transform: uppercase;
      transition: color .5s ease;
      padding: 1rem;
      padding-right: 2rem; }
      header nav .navbar-collapse .navbar-nav a.nav-item:hover {
        color: white; }
    header nav i {
      margin: .7rem;
      transition: all .4s;
      font-size: 1.8rem;
      color: #DC4C65;
      transition: color .5s ease; }
    header nav i:hover {
      color: rgba(245, 245, 245, 0.596); }

.logo {
  margin: 6%;
  animation: logo_animation .6s forwards 0s ease; }
  .logo h1 {
    font-size: 20rem;
    font-weight: 700;
    color: white;
    font-family: 'Clicker Script', cursive; }
  .logo p {
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    letter-spacing: .6rem; }

.tulip {
  position: absolute;
  width: 55%;
  right: 5%;
  bottom: 60px;
  animation: tulip_animation 1s forwards 0s ease; }

/*Animacje*/
@keyframes logo_animation {
  0% {
    transform: rotate(0) scale(1) translateX(-800px); }
  100% {
    transform: rotate(0) scale(1) translateX(0);
    opacity: 1; } }
@keyframes tulip_animation {
  0% {
    transform: rotate(0) scale(1);
    opacity: 0.1; }
  75% {
    transform: rotate(0) scale(1);
    opacity: 0.6; }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1; } }
main h2 {
  font-size: 5rem;
  font-weight: 200;
  color: #DC4C65;
  padding: 4rem;
  text-align: center;
  letter-spacing: .2rem; }

#about_us {
  padding: 1rem;
  margin: 1%; }
  #about_us .img_about {
    border: 0.4rem solid white;
    outline: 0.6rem solid rgba(121, 243, 176, 0.63);
    max-height: 50rem; }
    #about_us .img_about img.about {
      opacity: .8; }
  #about_us p {
    font-size: 1.4rem;
    color: grey;
    text-align: justify;
    padding-left: 2rem; }

#testimonials {
  background: url("../img/testimonials-background.jpg") center/cover no-repeat;
  background-blend-mode: lighten;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  padding: 2%; }
  #testimonials .carousel-item h3 {
    color: #33ac6a;
    padding: 1rem;
    font-family: 'Clicker Script', cursive;
    font-size: 3.5rem; }

#contact {
  position: relative;
  width: 100%;
  height: 100%;
  color: white; }
  #contact::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
    opacity: 1; }
  #contact h3 {
    font-size: 2rem;
    letter-spacing: .4rem;
    font-weight: bolder;
    padding: 1.5rem;
    text-transform: uppercase; }
  #contact h2 {
    color: white; }
  #contact .contact_data {
    letter-spacing: .3rem; }
    #contact .contact_data p {
      font-size: 1.4rem;
      line-height: 2.5rem; }
  #contact form {
    font-size: 1.2rem; }
    #contact form .btn {
      margin: 0 auto;
      width: 100%; }
  #contact .row {
    padding-bottom: 3rem; }

.container-fluid {
  padding: 0; }

.iframe {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .iframe iframe {
    width: 100%; }

.filler {
  width: 100%;
  display: block;
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
  padding: 2%; }
  .filler p {
    color: white;
    font-style: italic;
    font-size: 2.8rem;
    font-family: 'Clicker Script', cursive; }
  .filler .btn {
    font-size: 1.4rem;
    padding: 1.1rem; }

footer {
  font-size: 1.3rem;
  position: relative;
  width: 100%;
  background-image: linear-gradient(135deg, #81FBB8 10%, #28C76F 100%);
  color: white;
  letter-spacing: .3rem; }
  footer i {
    color: #DC4C65;
    font-size: 1rem;
    opacity: .8;
    transition: all .3s ease; }
    footer i:hover {
      opacity: 1;
      transform: scale(1.3); }

@media all and (max-width: 760px) {
  .logo {
    text-align: center; }
    .logo h1 {
      font-size: 15rem; }
    .logo p {
      font-size: 3.5rem; } }
@media all and (max-width: 463px) {
  .logo h1 {
    font-size: 9rem; }

  .logo p {
    font-size: 3rem; } }
@media all and (max-width: 991px) {
  #about_us p {
    padding-top: 4rem; } }

/*# sourceMappingURL=style.css.map */
