main {
    h2 {
        font-size: 5rem;
        font-weight: 200;
        color: #DC4C65; 
        padding: 4rem;
        text-align: center;
        letter-spacing: .2rem;
    }
}
// sekcja o nas
#about_us {
    padding: 1rem;
    margin: 1%;
    .img_about {
        border: .4rem solid rgb(255, 255, 255);
         outline: .6rem solid rgba(121, 243, 176, 0.63);   
         max-height: 50rem; 
         img.about {
             opacity: .8;
         }     
        }
        p {
            font-size: 1.4rem;
            color: grey;
            text-align: justify;
            padding-left: 2rem;  
        }
       }

// sekcja opinie klientów 

    #testimonials {
        background: url("../img/testimonials-background.jpg") center/cover no-repeat;
        background-blend-mode: lighten;
        width: 100%;
        position: relative;
        background-attachment: fixed;
        padding: 2%;
        
        .carousel-item {
            h3 {
                color: rgb(51, 172, 106);
                padding: 1rem;
                font-family: 'Clicker Script', cursive;
                font-size: 3.5rem;
            }
        }
    }
  
//sekcja kontakt
    #contact {
        position: relative;
        width: 100%;
        height: 100%;
        color: white;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
            opacity: 1;
        }

        h3 {
            font-size: 2rem;
            letter-spacing: .4rem;
            font-weight: bolder;
            padding: 1.5rem;
            text-transform: uppercase;
        }
        h2 {
            color: white;
        }
        .contact_data {
            letter-spacing: .3rem;
            p {
                font-size: 1.4rem;
                line-height: 2.5rem;
            }
        }
        form {
            font-size: 1.2rem;

             .btn {
                margin: 0 auto;
                width: 100%;
            }
        
        } 
         .row {
            padding-bottom: 3rem; }                 
}
.container-fluid {
    padding: 0;
}

//mapa google
    .iframe {
        width: 100%;
        height: 100%;
        overflow: hidden;
        iframe {
            width: 100%;
        }
    }

    .filler {
        width: 100%;
        display: block;
        background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
        padding: 2%;
        p {
            color: rgb(255, 255, 255);
            font-style: italic;
            font-size: 2.8rem;
            font-family: 'Clicker Script', cursive;   
        }

        .btn {
            font-size: 1.4rem;
            padding: 1.1rem;
        }
        
    
    }
