main {
    h2 {
        font-size: 5rem;
        font-weight: 200;
        color: #DC4C65; 
        padding: 4rem;
        text-align: center;
        letter-spacing: .2rem;
    }
}
// sekcja o nas
#about_us {
    padding: 1rem;
    margin: 1%;
    .img_about {
        border: .4rem solid rgb(255, 255, 255);
         outline: .6rem solid rgba(121, 243, 176, 0.63);   
         max-height: 50rem;  
            
        }
       }
       p {
        font-size: 1.4rem;
        color: grey;
        text-align: justify;
        padding-left: 2rem;  
    }
     